body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --brightBlue: #68DCEC;
  --brightBlueSelected: #60c8d6;
  /*--paleBlue: #bfceff;*/
  /*--bluePurple: #8e8ee8;*/
  /*--medPurple: #adadff;*/
  /*--palePurple: #c5bfff;*/
  /*--brightBlue: #99a0ff;*/
  --ratingPurple: #E0AFFB;
  --medGray: #626262;
}

.actionBtn {
  color: var(--brightBlue);
}

button.submitBtn {
  background-color: var(--brightBlue);
  width: 53.333vw;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.1); 
}

button.submitBtn:hover {
  background-color: var(--brightBlueSelected);
  box-shadow: none;
}

.purpleRatingSymbol {
  color: var(--ratingPurple);
}

.bufferedIcon {
  margin-right: 5px;
}

.loweredIcon {
  height: 1.5rem;
}

.bathroomTitle {
  font-size: 18px;
}

.textCenter {
  text-align: center;
}

.bathroomAddress {
  margin-left: 1.3rem;
  font-size: 1rem;
  color: var(--medGray);
}

div.lightDivider {
  border-bottom: 1px solid #E5E5E5;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

div.lightDivider.short {
  padding-top: 0;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; 
}