@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  font-weight: bold;
}

:root {
  --brightBlue: #68DCEC;
  --brightBlueSelected: #60c8d6;
  /*--paleBlue: #bfceff;*/
  /*--bluePurple: #8e8ee8;*/
  /*--medPurple: #adadff;*/
  /*--palePurple: #c5bfff;*/
  /*--brightBlue: #99a0ff;*/
  --ratingPurple: #E0AFFB;
  --medGray: #626262;
}

.actionBtn {
  color: var(--brightBlue);
}

button.submitBtn {
  background-color: var(--brightBlue);
  width: 53.333vw;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
}

button.submitBtn:hover {
  background-color: var(--brightBlueSelected);
  box-shadow: none;
}

.purpleRatingSymbol {
  color: var(--ratingPurple);
}

.bufferedIcon {
  margin-right: 5px;
}

.loweredIcon {
  height: 1.5rem;
}

.bathroomTitle {
  font-size: 18px;
}

.textCenter {
  text-align: center;
}

.bathroomAddress {
  margin-left: 1.3rem;
  font-size: 1rem;
  color: var(--medGray);
}

div.lightDivider {
  border-bottom: 1px solid #E5E5E5;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

div.lightDivider.short {
  padding-top: 0;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

* {
  box-sizing: border-box;
}

body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

/* The page is split between map and sidebar - the sidebar gets 1/3, map
gets 2/3 of the page. You can adjust this to your personal liking. */
/*
.sidebar {
  position: absolute;
  width: 33.3333%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.map-container {
  position: absolute;
  left: 0;
  top: 7rem;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}*/

svg.popup-arrow {
  display: none;
}

.centeredOnPage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.fillLeftPage {
  position: fixed;
  top: 0;
  left: 0;
}

div.popup-content {
  border: none;
  padding: 0;
}

/* Marker tweaks */

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content h3 {
  background: var(--brightBlue);;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: var(--brightBlue);;
}
